<div class="container">
  <form action="/task/new" method="" class="p-5">
    <div class="form-group">
      <label for="name">Task Title</label>
      <input
        name="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter Task Title"
      />
    </div>
    <div class="form-group">
      <label for="des">Task Description</label>
      <input
        name="description"
        type="text"
        class="form-control"
        id="description"
        placeholder="Enter Task Description"
      />
    </div>
    <div class="form-group">
      <label for="image">Deadline</label>
      <input type="date" name="date" class="form-control" id="date" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
